<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/listar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Estoque - Adega</title>
</head>
<body>
     <nav class="navbar">
        <a href="/" class="nav-icon" title="Voltar ao Início">
            <i class="fas fa-home"></i>
        </a>
        
        <h1 class="nav-title">📦 ESTOQUE DE PRODUTOS</h1>
        
        <a href="/cadastro" class="btn-novo-nav">
            <i class="fas fa-plus"></i> Novo Produto
        </a>
    </nav>

    <div class="container">
        <main class="tabela-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Safra/Ano</th>
                        <th>Quantidade</th>
                        <th>Preço (R$)</th>
                        <th style="text-align: center;">Ações</th>
                    </tr>
                </thead>
                <tbody id="tabela-corpo">
                    </tbody>
            </table>
        </main>
    </div>
    <script src="/js/listar.js"></script>
</body>
</html>